@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(96, 165, 250);
  background: linear-gradient(180deg, rgba(96, 165, 250,1) 0%, rgba(30, 64, 175,1) 100%);
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}